PORT=3001
DATABASE_URL=
JWT_SECRET=
JWT_ISSUER=LineWebHookAPI
JWT_AUDIENCE=LineWebHookAdmin
ADMIN_USERNAME=
ADMIN_PASSWORD=
ACCESS_TOKEN_EXPIRES_MINUTES=15
REFRESH_TOKEN_EXPIRES_DAYS=7
SPOT_LINE_CHANNEL_SECRET=
SPOT_LINE_CHANNEL_ACCESS_TOKEN=
YAHOO_APP_ID=
DISABLE_LINE_SIGNATURE_VERIFICATION=
BIKE_PARKING_LINE_CHANNEL_SECRET=
BIKE_PARKING_LINE_CHANNEL_ACCESS_TOKEN=