<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <!-- 属性で除外 -->
          <ExcludeByAttribute>
            ExcludeFromCodeCoverageAttribute
            ,GeneratedCodeAttribute
            ,CompilerGeneratedAttribute
          </ExcludeByAttribute>
          <Exclude>[System.Text.RegularExpressions.Generated]*,[LineWebHookAPI]LineWebHookAPI.Migrations.*</Exclude>
          <ExcludeByFile>**/System.Text.RegularExpressions/**,**/*.g.cs,**/Migrations/*.cs,**/Migrations/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
